<div class="container-fluid">
    <div class="row">
        <form class="form-signin">
            <label for="username" class="sr-only">Username: </label>
            <input type="text" id="username" class="form-control" name="username" [(ngModel)]="user.username"
                placeholder="Username" required autofocus />
            <label for="pass" class="sr-only">Password</label>
            <br />
            <input type="password" id="pass" class="form-control" name="pass" [(ngModel)]="user.password"
                placeholder="Password" required />
            <label for="pass" class="sr-only">Password</label>
            <br />
            <input type="email" id="email" class="form-control" name="email" [(ngModel)]="user.email"
                placeholder="Email" required />
            <br />
            <button class="btn btn-primary" type="Submit" (click)="handleRegister()">Register</button>
        </form>

    </div>
</div>