<div class="main">

    <div class="header">Job tinder</div>
    <nav class="navbar navbar-expand navbar-dark bg-dark">
        <div class="navbar-nav">
            <a class="nav-item nav-link nav-btn" routerLink="/">Home</a>
            <a class="nav-item nav-link nav-btn" routerLink="/login">Login</a>
            <a class="nav-item nav-link nav-btn" routerLink="/register">Register</a>
            <a class="nav-item nav-link nav-btn" routerLink="/profile">Profile</a>
        </div>
    </nav>

    <!-- main content container -->
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 offset-sm-2">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>
</div>