.header {
    display: flex;
    justify-content: center;
    margin: 30px;
}

.nav-btn {
    margin:10px;
    padding: 15px;
    background-color: rgb(94, 94, 187);
    border-radius: 6px;
    color: white;
}

.main {
    margin:50px;
}