<div class="container-fluid">
    <div *ngIf=wrongUsernameOrPass class="alert alert-warning box-msg" role="alert">
        Incorrect credentials.
    </div>
    <div class="row">
        <form class="form-signin">
            <label for="username" class="sr-only">Username: </label>
            <input type="username" id="username" class="form-control" name="username" [(ngModel)]="user.username"
                placeholder="username" required autofocus />
            <label for="pass" class="sr-only">Password</label>
            <br />
            <input type="password" id="pass" class="form-control" name="pass" [(ngModel)]="user.password"
                placeholder="Password" required />
            <br />
            <button class="btn btn-primary mr-2 btn" (click)="handleLogin()">Sign in</button>
            <button class="btn btn-primary mr-2">Register</button>

        </form>
    </div>
</div>