<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<div class="container-fluid">
    <div class="col-md-9">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <h4>Your Profile</h4>
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <form>
                            <div class="form-group row">
                                <label for="username" class="col-4 col-form-label">User Name*</label>
                                <div class="col-8">
                                    <input id="username" name="username" placeholder="Username"
                                        class="form-control here" required="required" type="text"
                                        [(ngModel)]="user.username">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="name" class="col-4 col-form-label">First Name</label>
                                <div class="col-8">
                                    <input id="name" name="name" placeholder="First Name" class="form-control here"
                                        type="text" [(ngModel)]="user.firstname">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="lastname" class="col-4 col-form-label">Last Name</label>
                                <div class="col-8">
                                    <input id="lastname" name="lastname" placeholder="Last Name"
                                        class="form-control here" type="text" [(ngModel)]="user.lastname">
                                </div>
                            </div>


                            <div class="form-group row">
                                <label for="email" class="col-4 col-form-label">Email*</label>
                                <div class="col-8">
                                    <input id="email" name="email" placeholder="Email" class="form-control here"
                                        required="required" type="text" [(ngModel)]="user.email">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="text" class="col-4 col-form-label">Location</label>
                                <div class="col-8">
                                    <input id="text" name="text" placeholder="Location" class="form-control here"
                                        required="required" type="text" [(ngModel)]="user.Location">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="select" class="col-4 col-form-label">Relocation</label>
                                <div class="col-8">
                                    <select id="select" name="select" class="custom-select"
                                        [(ngModel)]="user.Relocation">
                                        <option value="admin">Yes</option>
                                        <option value="admin">No</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="text" class="col-4 col-form-label">General experience</label>
                                <div class="col-8">
                                    <input id="text" name="text" placeholder="General experience"
                                        class="form-control here" required="required" type="text"
                                        [(ngModel)]="user.generalexperience">
                                </div>
                                <label for="text" class="col-4 col-form-label">Years</label>
                            </div>
                            <div class="form-group row">
                                <label for="website" class="col-4 col-form-label">Education</label>
                                <div class="col-8">
                                    <input id="website" name="website" placeholder="Education" class="form-control here"
                                        type="text" [(ngModel)]="user.Education">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="website" class="col-4 col-form-label">Education level</label>
                                <div class="col-8">
                                    <input id="website" name="website" placeholder="Education level"
                                        class="form-control here" type="text" [(ngModel)]="user.educationlevel">
                                </div>

                            </div>
                            <div class="form-group row">
                                <label for="select" class="col-4 col-form-label">Remote</label>
                                <div class="col-8">
                                    <select id="select" name="select" class="custom-select" [(ngModel)]="user.Remote">
                                        <option value="admin">Yes</option>
                                        <option value="admin">No</option>
                                    </select>
                                </div>
                            </div>
                            <div>
                                <span>Technologies</span>
                                <mat-form-field appearance="fill">
                                    <mat-select [formControl]="technologies" multiple>
                                        <mat-option *ngFor="let tech of allTechnologies" [value]="tech">
                                            {{tech.typeOfTechology}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>






                            <div class="form-group row">
                                <div class="offset-4 col-8">
                                    <!-- <button class=" btn btn-primary mr-2 btn" (click)="save()">Update My
                                        Profile</button> -->
                                    <button mat-raised-button>Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>